In [1]:
from src.data_preprocessor import DataProcessor
from src.cross_validation import CrossValidation
from src.evaluation import Evaluation
from models.knn import KNN
from models.null_model import NullModelClassification, NullModelRegression
from data_configs.configs import *
import statistics

config = machine_config
data_processor = DataProcessor(config=config)
cross_validator = CrossValidation(config=config)
classification_nullmodel = NullModelClassification(config=config)
regression_nullmodel = NullModelRegression(config=config)
knn_model = KNN(config)

In [3]:
# Data Processing

raw_data = data_processor.load_data()

data_1 = data_processor.impute_missing_values(raw_data)

data_2 = data_processor.encode_nominal_features(data_1)

data_3 = data_processor.encode_ordinal_features(data_2)

In [4]:
data_train, data_val = cross_validator.random_partition(data_3, random_state=42)

In [5]:
gamma = 1/(statistics.stdev(data_train[config['target_column']]))

In [14]:
results = knn_model.knn_regression(data_val,data_train, 3, gamma*0.3)
results.head()

,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP,vendor_name_adviser,vendor_name_amdahl,...,model_name_v8650,model_name_v8655,model_name_v8665,model_name_v8670,model_name_vax:11/730,model_name_vax:11/750,model_name_vax:11/780,model_name_vs-100,model_name_vs-90,Predicted Value
30,25,1310,2620,131,12,24,274,102,0,0,...,0,0,0,0,0,0,0,0,0,368.000000
171,200,1000,4000,0,1,4,30,25,0,0,...,0,0,0,0,0,0,0,0,0,25.098376
84,330,1000,4000,0,3,6,22,25,0,0,...,0,0,0,0,0,0,0,0,0,37.999992
198,30,8000,64000,96,12,176,915,919,0,0,...,0,0,0,0,0,0,0,0,0,1150.000000
60,800,256,8000,0,1,4,16,34,0,0,...,0,0,0,0,0,0,0,0,0,16.000000

In [15]:
score = Evaluation().mean_squared_error(results[config['target_column']],results['Predicted Value'])
score

7049.337649155625